
<h1>Welcome to Rock Paper Scissors!!!</h1><br>

<img src="/images/rock.jpg" alt="Rock" height="150" width="150"> 
<img src="/images/paper.jpg" alt="Rock" height="150" width="150"> 
<img src="/images/scissors.jpg" alt="Rock" height="150" width="150"><br><br>

<form action="/new-game" method="GET">
<button id="pick" name="game_type" value="single_player">Single Player</button>
<button id="pick" name="game_type" value="two_players">Two Players</button>
</form>
