
<h1>Welcome to Rock Paper Scissors!!!</h1><br>

<img src="/images/rock.jpg" alt="Rock" height="150" width="150"> 
<img src="/images/paper.jpg" alt="Rock" height="150" width="150"> 
<img src="/images/scissors.jpg" alt="Rock" height="150" width="150"><br><br>

<a href="/new-game"><button>New Game</button></a>