RESULTS:
<% if @game.winner == "Draw" %>
 <h1> it was a draw </h1>
 <% elsif @game.winner.name == "Computer" %>
	<h1> You lost, the <%=@game.winner.name%> won with <%= @game.winner.pick %></h1>
<% else %>
	<h1> You won, with <%= @game.winner.pick %> </h1>
<%end%>
<form action="/play_again" method="POST">
<button>Play again!</button>


